.header__logo {
  max-width: 142px;
  min-height: 34px;
  /* smooth */
  transition: 0.5s ease-in-out;
}

.header__logo:hover {
  cursor: pointer;
  opacity: var(--hover-opacity);
}

@media screen and (max-width: 767px) {
  .header__logo {
    max-width: 103.74px;
    min-height: 24.4px;
  }
}
