:root {
  --black: #000000;
  --light-black: rgba(0, 0, 0, 0.5);
  --dark-black: rgba(0, 0, 0, 0.9);
  --white: #ffffff;
  --light-input: #cccccc;
  --gray: #545454;
  --light-gray: rgba(0, 0, 0, 0.2);
  --error: #ff0000;
  --hover-opacity: 0.6;
  --disabled-opacity: 0.2;
  --close-size: 32px;
  --close-size-xs: 20px;
}
