.popup__button_action_submit {
  /* size */
  width: 100%;
  height: 50px;
  /* decoration */
  background-color: var(--black);
  color: var(--white);
  /* font */
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.233;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .popup__button_action_submit {
    /* size */
    height: 46px;
    /* font */
    font-size: 14px;
    line-height: 1.214;
  }
}
