.profile__wrapper {
  display: block;
  position: relative;
}

.profile__wrapper:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.profile__wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('../../../images/icon/pencil-large.png') no-repeat
    42% 50%;
  background-size: 26px 26px;
  opacity: 0;
  z-index: 2;
  transition: 0.5s ease-in-out;
}

.profile__wrapper:hover:before,
.profile__wrapper:hover:after {
  opacity: 1;
  cursor: pointer;
}
