.card__trash-button {
  position: absolute;
  right: 20px;
  top: 20px;

  border: none;
  background: no-repeat center;
  background-image: url('../../../images/icon/trash.svg');
  /* offsets */
  margin: 0;
  padding: 0;
  /* size */
  width: 18px;
  height: 19px;
  align-self: center;
  /* smooth */
  transition: 0.5s ease-in-out;
}

.card__trash-button:hover,
.card__trash-button:active {
  cursor: pointer;
  opacity: var(--hover-opacity);
}
