.profile__button {
  align-self: center;
  /* offsets */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* decoration */
  background-color: transparent;
  border: 1px solid var(--white);
  /* smooth */
  transition: 0.5s ease-in-out;
}

.profile__button:hover {
  cursor: pointer;
  opacity: var(--hover-opacity);
}
