@import url('./vendor/normalize.css');
/* fonts */
@import url('./vendor/fonts/fonts.css');
/* variables */
@import url('./variables/variables.css');
/* container */
@import url('./blocks/page/page.css');
@import url('./blocks/root/root.css');
/* header */
@import url('./blocks/header/header.css');
@import url('./blocks/header/__link/header__link.css');
@import url('./blocks/header/__logo/header__logo.css');
@import url('./blocks/header/__button/header__button.css');
@import url('./blocks/header/__container/header__container.css');
@import url('./blocks/header/__email/header__email.css');
@import url('./blocks/header/__button/__button_state_inactive/header__button_state_inactive.css');
/* main */
@import url('./blocks/main/main.css');
/* entry form */
@import url('./blocks/entry/entry.css');
@import url('./blocks/entry/__title/entry__title.css');
@import url('./blocks/entry/__form/entry__form.css');
@import url('./blocks/entry/__input/entry__input.css');
@import url('./blocks/entry/__button/entry__button.css');
@import url('./blocks/entry/__field/entry__field.css');
@import url('./blocks/entry/__link/entry__link.css');
@import url('./blocks/entry/__link/__link_type_redirect/entry__link_type_redirect.css');
/* profile */
@import url('./blocks/profile/profile.css');
@import url('./blocks/profile/__avatar/profile__avatar.css');
@import url('./blocks/profile/__wrapper/profile__wrapper.css');
@import url('./blocks/profile/__button/profile__button.css');
@import url('./blocks/profile/__button_action_add/profile__button_action_add.css');
@import url('./blocks/profile/__button_action_edit/profile__button_action_edit.css');
@import url('./blocks/profile/__info/profile__info.css');
@import url('./blocks/profile/__name/profile__name.css');
@import url('./blocks/profile/__text/profile__text.css');
/* photo-grid */
@import url('./blocks/photo-grid/photo-grid.css');
@import url('./blocks/photo-grid/__list/photo-grid__list.css');
/* card */
@import url('./blocks/card/card.css');
@import url('./blocks/card/__header/card__header.css');
@import url('./blocks/card/__description/card__description.css');
@import url('./blocks/card/__image/card__image.css');
@import url('./blocks/card/__like-button/card__like-button.css');
@import url('./blocks/card/__like-counter/card__like-counter.css');
@import url('./blocks/card/__like-button_state_active/card__like-button_state_active.css');
@import url('./blocks/card/__trash-button/card__trash-button.css');
@import url('./blocks/card/__trash-button_state_hidden/card__trash-button_state_hidden.css');
/* footer */
@import url('./blocks/footer/footer.css');
@import url('./blocks/footer/__copyright/footer__copyright.css');
/* popup */
@import url('./blocks/popup/popup.css');
@import url('./blocks/popup/popup_opened/popup_opened.css');
@import url('./blocks/popup/popup_zoom_image/popup_zoom_image.css');
@import url('./blocks/popup/popup__error_visible/popup__error_visible.css');
@import url('./blocks/popup/__container/popup__container.css');
@import url('./blocks/popup/__button/popup__button.css');
@import url('./blocks/popup/__button/__button_action/popup__button_action_close.css');
@import url('./blocks/popup/__button/__button_action/popup__button_action_submit.css');
@import url('./blocks/popup/__button/__button_action/popup__button_action_zoom-out.css');
@import url('./blocks/popup/__button/__button_submit/popup__button_submit_inactive.css');
@import url('./blocks/popup/__form/popup__form.css');
@import url('./blocks/popup/__card/popup__card.css');
@import url('./blocks/popup/__status/popup__status.css');
@import url('./blocks/popup/__status/__status_state/popup__status_state_failed.css');
@import url('./blocks/popup/__status/__status_state/popup__status_state_success.css');
@import url('./blocks/popup/__label/popup__label.css');
@import url('./blocks/popup/__card-container/popup__card-container.css');
@import url('./blocks/popup/__heading/popup__heading.css');
@import url('./blocks/popup/__field/popup__field.css');
@import url('./blocks/popup/__wrapper/popup__wrapper.css');
@import url('./blocks/popup/__wrapper/__wrapper_type/popup__wrapper_type_update-avatar.css');
@import url('./blocks/popup/__input/popup__input.css');
@import url('./blocks/popup/__input/__input_type/popup__input_type_error.css');
@import url('./blocks/popup/__image/popup__image.css');
@import url('./blocks/popup/__description/popup__description.css');
@import url('./blocks/popup/__container/__container_zoom/popup__container_zoom_image.css');
