.photo-grid__list {
  list-style: none;
  /* offsets */
  margin: 0;
  padding: 0;
  padding-top: 50px;
  /* position */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  grid-gap: 17px;
}

@media screen and (max-width: 767px) {
  .photo-grid__list {
    padding: 0 19px;
    padding-top: 36px;
  }
}
